The Frontend Project should:

+++ You must include HTML, CSS, and JavaScript.
+++ You must use a CSS Framework such as Bootstrap or Materialize.
++ You must organize your code with functions.
+++ You must separate your HTML, CSS, and JavaScript into multiple files.
++ You must include some client-side validation.
++ You must store some data in Local Storage.
+++ You must allow for users to be able to interact with the site.
+ You must deploy your site.


To successfully complete the project, you must:
++ Use a project planning tool such as Pivotal Tracker or Trello.
+++ Make multiple commits with readable commit messages.
+ Include a readme with installation instructions and screenshots.
+++ Add your project to an online portfolio.
- Present your project to your class.
